In [1]:
#List and Default functions

In [9]:
myList = ["Ravikumar", 19]

In [10]:
myList.append("Parmar")

In [11]:
myList

['Ravikumar', 19, 'Parmar']

In [15]:
newList = myList.copy()

In [16]:
newList

['Ravikumar', 19, 'Parmar']

In [17]:
myList.clear()

In [18]:
myList

[]

In [20]:
newList.count(19)

1

In [21]:
newList.pop()

'Parmar'

In [22]:
newList

['Ravikumar', 19]

In [23]:
myList.append("parmar")

In [24]:
newList.extend(myList)

In [25]:
newList

['Ravikumar', 19, 'parmar']

In [26]:
myList.insert(2, "Manishbhai")

In [27]:
myList

['parmar', 'Manishbhai']

In [28]:
newList.reverse()

In [29]:
newList

['parmar', 19, 'Ravikumar']

In [1]:
#Dictionaries and Its default functions

In [3]:
myDict ={"name" : "Ravikumar"}

In [4]:
myDict

{'name': 'Ravikumar'}

In [7]:
myDict["Lname"] = "Parmar"

In [10]:
myDict

{'name': 'Ravikumar', 'Lname': 'Parmar'}

In [11]:
newDict = {}

In [13]:
newDict = myDict.copy()

In [14]:
newDict

{'name': 'Ravikumar', 'Lname': 'Parmar'}

In [19]:
newDict.pop("name")

'Ravikumar'

In [20]:
newDict

{'Lname': 'Parmar'}

In [23]:
newDict["age"]=19

In [24]:
myDict.update(newDict)

In [25]:
myDict

{'name': 'Ravikumar', 'Lname': 'Parmar', 'age': 19}

In [26]:
newDict.clear()

In [27]:
newDict

{}

In [28]:
myDict.keys()

dict_keys(['name', 'Lname', 'age'])

In [29]:
myDict.values()

dict_values(['Ravikumar', 'Parmar', 19])

In [30]:
myDict.items()

dict_items([('name', 'Ravikumar'), ('Lname', 'Parmar'), ('age', 19)])

In [36]:
#sets and its default functions

In [37]:
set1 = {"Ravi", 18}

In [38]:
set2 = {"parmar" , 18}

In [40]:
set1.union(set2)

{18, 'Ravi', 'parmar'}

In [41]:
set1 & set2

{18}

In [42]:
set1 ^ set2

{'Ravi', 'parmar'}

In [43]:
set1 - set2

{'Ravi'}

In [44]:
set2 - set1

{'parmar'}

In [45]:
set1.add("parmar")

In [46]:
set1

{18, 'Ravi', 'parmar'}

In [47]:
set2.issubset(set1)

True

In [48]:
set1.issuperset(set2)

True

In [49]:
set1.discard(18)

In [50]:
set1

{'Ravi', 'parmar'}

In [51]:
set1.update(set2)

In [52]:
set1

{18, 'Ravi', 'parmar'}

In [53]:
set2.update(set1)

In [55]:
set1.clear()

In [56]:
set1

set()

In [57]:
#Tuples and its default functions

In [58]:
tuple1=()

In [59]:
tuple2=("Ravi", 18)

In [60]:
tuple1 + tuple2

('Ravi', 18)

In [61]:
tuple2.index(18)

1

In [62]:
list(tuple1)

[]

In [63]:
list(tuple2)

['Ravi', 18]

In [64]:
set(tuple2)

{18, 'Ravi'}

In [65]:
tuple2.count("Parmar")

0

In [66]:
#Strings and its methods

In [97]:
str1 = "Ravikumar"

In [68]:
str2 = "18"

In [69]:
int(str2)

18

In [70]:
str1 + " " + str2

'Ravikumar 18'

In [71]:
len(str1)

9

In [72]:
str1.upper()

'RAVIKUMAR'

In [77]:
str1.upper().isupper()

True

In [79]:
str1.center(15)

'   Ravikumar   '

In [101]:
str1.index('a')

1

In [106]:
str1[:2]

'Ra'

In [107]:
str1[::-1]

'ramukivaR'

In [108]:
str1[::2]

'Rvkmr'